<template>
  <v-card>
    <v-card-text v-if="Object.keys(lessonData).length > 0" class="pa-0 lesson" tile>
      <span class="lesson-name font-weight-bold">
          {{lessonData.name}} <br>{{lessonData.auditory}}
      </span><br>
      <span>({{lessonData.type}})</span><br>
      <span>{{lessonData.teacherName}}</span><br>
    </v-card-text>
    <v-card-text v-else class="pa-0 lesson" tile>
      <slot name="window"></slot>
    </v-card-text>
  </v-card>
</template>

<script>
  export default {
    name: 'Lesson',
    mixins: [],
    props: {
      lessonData: {
        type: Object,
        default: () => ({})
      }
    },
    data () {
      return {}
    },
    computed: {},
    methods: {}
  }
</script>

<style scoped lang="scss">
  .v-card {
    min-height: 9rem;
    max-height: 10rem;
    min-width: 10rem;
    max-width: 10rem;
    padding: 0.5rem
  }
  .lesson {
    min-width: 10vh;
    flex: 0 30;
    font-size: small;
  .lesson-name {}
  }
</style>