<template>
  <v-container>
    <v-layout row>
      <v-flex xs12 sm6 lg12 xl12>
        <select-ring
          :items="groups"
          :itemName="'group'"
          :currentItem="currentGroup"
          :perRow="1"
          @selected="selectGroup"
        ></select-ring>
        <select-ring
          :items="weeks"
          :itemName="'week'"
          :currentItem="currentWeek"
          :perRow="5"
          @selected="selectWeek"
        > неделя</select-ring>
        <div class="time-grid">
          <v-row class="ml-5">
            <!--            здесь столбцы-дни-->
            <v-col v-for="(day, dayIndex) in getLessonWeek(currentWeek)" :key="dayIndex">
              <v-card-text class="pa-0 lesson" tile>
                <v-col class="lesson-date pb-3 text-center">
                  <span class="day-col">{{day | day}}.{{day | month}}</span>
                </v-col>
              </v-card-text>
            </v-col>
          </v-row>
          <v-row
          v-for="(time, timeIndex) in timeGrid"
          :key="timeIndex"
          class="lesson-row"
          outlined
          >
            <v-col
              align-self="center"
              class="d-flex time-col"
            >{{time}}
            </v-col>
            <v-col v-for="(day, dayIndex) in getLessonWeek(currentWeek)" :key="dayIndex">
             <lesson
               :lessonData="schedule[day] && schedule[day][time] || {}"
             ></lesson>
            </v-col>
          </v-row>
        </div>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
  import SelectRing from '../common/SelectRing'
  import Lesson from './Lesson'
  import {calendar} from '../../utils/calendar/calendar'
  export default {
    name: 'Schedule',
    components: {
      'select-ring': SelectRing,
      'lesson': Lesson,
    },
    mixins: [calendar],
    data() {
      return {
        daysForView: 6,
      }
    },
    computed: {
      schedule() {
        return this.$store.getters.schedule
      },
      groups() {
        return this.$store.getters.groups
      },
      currentGroup() {
        return this.$store.getters.groupSelected
      },
      currentWeek() {
        return this.$store.getters.weekSelected
      },
      timeGrid() {
        return this.$store.getters.timeGrid
      },
      days() {
        return []
      }
    },
    watch: {
      currentGroup: function() {
        this.getSchedule()
      },
      currentWeek: function() {
        this.getSchedule()
      }
    },
    mounted() {
      this.getSchedule()
    },
    methods: {
      getLessonWeek(weekNumber) {
        return this.getDaysByWeekNumber(weekNumber).slice(0, -1)
      },
      getSchedule() {
        this.$store.dispatch('getSchedule', {
          groupId: this.currentGroup,
          weekId: this.currentWeek
        })
      },
      selectGroup(groupId) {
        this.$store.commit('setGroupSelected', groupId)
      },
      selectWeek(weekId) {
        this.$store.commit('setWeekSelected', weekId)
      }
    },
  }
</script>

<style scoped lang="scss">
  .lesson-row {
    min-height: 10rem
  }
  .time-col {
    flex: 0 0;
  }

  .lesson-row:nth-child(odd) {
    background: lightgrey;
  }
  .lesson-border {
    border-right: 1px solid grey;
  }
  .lesson-border:nth-of-type(2) {
    border-left: 1px solid grey;
  }
</style>