<template>
  <div class="container">
    <div>Test</div>
    <div class="day">{{currentDate | day}}</div>
    <div class="month">{{currentDate | month}}</div>
    <div class="year">{{currentDate | year}}</div>
    <div class="day_and_month">{{currentDate | dayAndMonth}}</div>
    <div class="date">{{currentDate | date}}</div>
  </div>
</template>

<script>
  export default {
    name: 'Test',
    props: {
      currentDate: {
        type: Date,
        default: () => (new Date())
      }
    }
  }
</script>

<style scoped>

</style>