<template>
  <swiper
      :model="selected"
      :value="selected"
      :options="swiperOption"
      ref="swiper"
      class="row justify-center scrolling-wrapper"
      @click.native="select(swiper.clickedIndex)"
      @slideChange="swiped(swiper)"
      v-long-press="500"
      @long-press-start="showModal"
      @long-press-stop="() => ({})"
  >
<!--    встроить модальное окно, по длинному нажатию в котором появится список всех item'ов-->
    <swiper-slide
        v-for="(item, index) in items"
        :key="item.id || index"
        :class="[itemName, 'text-center', 'item', 'scroll-x', 'overflow-x-auto']"
    >
			<span
          :class="[{'font-weight-bold': (parseInt(item.id) || parseInt(item)) === parseInt(currentItem)}, 'black--text']"
      >{{ item.name || item }}<slot></slot>
			</span>
    </swiper-slide>
  </swiper>
</template>

<script>
  import 'swiper/dist/css/swiper.css'
  import LongPress from 'vue-directive-long-press'
  import { swiper, swiperSlide } from 'vue-awesome-swiper'

  export default {
    name: 'SelectRing',
    directives: {
      'long-press': LongPress
    },
    components: {
      swiper,
      swiperSlide
    },
    props: {
      items: {
        type: Array,
        default: () => ([])
      },
      perRow: {
        type: Number,
        default: 1
      },
      itemName: null,
      name: null,
      currentItem: null,
    },
    data () {
      return {
        selected: null,
        swiperOption: {
          mousewheel: true,
          autoHeight: true,
          slidesPerView: this.perRow,
          preventClicksPropagation: true
        }
      }
    },
    computed: {
      id () {
        return this.selected
      },
      swiper () {
        return this.$refs.swiper.swiper
      }
    },
    mounted () {
      this.selected = this.currentItem || this.select(this.items[0])
    },
    methods: {
      swiped ({ activeIndex, isBeginning, isEnd }) {
        if (isBeginning) {
          this.selectBegin()
        } else if (isEnd) {
          this.selectEnd()
        } else if (this.perRow === 1) {
          this.select(activeIndex)
        }
      },
      select (item) {
        this.selected = item.id || this.items[item].id || this.items[item]
        this.$emit('selected', this.selected)
      },
      selectBegin () {
        if (!this.items.slice(0, this.perRow).includes(this.selected)) {
          this.selected = this.items[0]
          this.$emit('selected', this.selected)
        }
      },
      selectEnd () {
        if (this.selected !== this.items[this.items.length - 1]) {
          this.selected = this.items[this.items.length - 1]
          this.$emit('selected', this.selected)
        }
      },
      showModal(el) {
        debugger
      }
    }
  }
</script>

<style scoped lang="scss">
  .row {
    cursor: grabbing;
  }

  .scrolling-wrapper-flexbox {
    &::-webkit-scrollbar {
      display: none;
    }

    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: auto;

    .item {
      flex: 0 0 auto;
    }

  }
</style>