<template>
  <div>
    <v-dialog v-model="modalModel" maxWidth="500px">
      <v-card class="elevation-12">
        <v-container>
          <v-layout row>
            <v-flex xs12>
              <v-card-title>
                <h2 class="text--primary">Вход</h2>
              </v-card-title>
            </v-flex>
          </v-layout>
          <v-layout row>
            <v-flex xs12>
              <v-card-text>
                <v-form ref="form" v-model="valid" validation>
                  <v-text-field
                      id="login"
                      label="Логин"
                      name="login"
                      prepend-icon="mdi-account"
                      type="text"
                      v-model="login"
                      :focus="resetValidation"
                      :input="resetValidation"
                      :rules="loginRules"
                      autofocus
                      @keyup.enter="onSubmit"
                  ></v-text-field>
                  <v-text-field
                      id="password"
                      label="Пароль"
                      name="password"
                      prepend-icon="mdi-lock"
                      type="password"
                      v-model="password"
                      :counter="6"
                      :focus="resetValidation"
                      :input="resetValidation"
                      :rules="passwordRules"
                      @keyup.enter="onSubmit"
                  ></v-text-field>
                </v-form>
              </v-card-text>
            </v-flex>
            <v-card-actions>
              <div class="flex-grow-1"></div>
              <v-btn text @click="onCancel">Назад</v-btn>
              <v-btn id="submit" color="primary" @click="onSubmit" :disabled="!valid || loading" :loading="loading">Войти</v-btn>
            </v-card-actions>
          </v-layout>
        </v-container>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
  import modal from '../modals/modal-mixin'
  const emailRegex = /.+@.+\..+/
  const phoneNumberRegex = /^((8|\+7)[- ]?)?(\(?\d{3}\)?[- ]?)?[\d- ]{10}$/
  export default {
    name: 'Login',
    mixins: [modal],
    data () {
      return {
        login: '+79044221478',
        password: '123456',
        valid: false,
        loginRules: [
          v => !!v || 'Введите логин (email или номер телефона)',
          v => this.isLoginValid(v) || 'Введите email или номер телефона'
        ],
        passwordRules: [
          v => !!v || 'Введите пароль',
          v => this.isPasswordValid(v) || 'Пароль должен содержать минимум 6 символов'
        ]
      }
    },
    computed: {
      loading () {
        return this.$store.getters.loading
      }
    },
    created () {
      if (this.$route.query.loginError) {
        this.$store.dispatch('setError', 'Пожалуйста, войдите, чтобы попасть на эту страницу')
      }
    },
    methods: {
      resetValidation() {
        this.$refs.form.resetValidation()
      },
      isLoginValid(login) {
        return (emailRegex.test(login) || phoneNumberRegex.test(login))
      },
      isPasswordValid(password) {
        return (password && password.length >= 6)
      },
      onCancel () {
        this.close()
      },
      onSubmit () {
        if (this.$refs.form.validate()) {
          const user = {
            login: this.login,
            password: this.password
          }
          this.close()
          this.$store.dispatch('loginUser', user)
            .then(() => this.$router.replace({ name: 'schedule' }))
        }
      }
    }
  }
</script>

<style scoped>

</style>