<template>
  <v-app>
    <v-navigation-drawer app temporary v-model="drawer">
      <div v-if="isUserLoggedIn">
        <v-list-item v-for="link in links" :key="link.title" :to="link.url">
          <v-list-item-icon>
            <v-icon left>{{link.icon}}</v-icon>
          </v-list-item-icon>
          <v-list-item-content>
            <v-list-item-title>{{link.title}}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-list-item @click="onLogout" v-if="isUserLoggedIn">
          <v-list-item-icon>
            <v-icon left>mdi-exit-to-app</v-icon>
          </v-list-item-icon>
          <v-list-item-content>
            <v-list-item-title>Logout</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </div>
      <div v-else>
        <v-list-item @click="showLoginForm">
          <v-list-item-icon>
            <v-icon left>mdi-lock</v-icon>
          </v-list-item-icon>
          <v-list-item-content>
            <v-list-item-title>Войти</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-list-item :to="`/registration`">
          <v-list-item-icon>
            <v-icon left>mdi-face</v-icon>
          </v-list-item-icon>
          <v-list-item-content>
            <v-list-item-title>Зарегистрироваться</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </div>
    </v-navigation-drawer>
    <v-card class="overflow-hidden">
      <v-app-bar
          app
          absolute
          dark
          scroll-target=""
          :color="color"
          :elevate-on-scroll="elevateOnScroll"
          :hide-on-scroll="hideOnScroll"
          :fade-on-scroll="fadeOnScroll"
          :fade-img-on-scroll="fadeImgOnScroll"
          :inverted-scroll="invertedScroll"
          :collapse="collapse"
          :collapse-on-scroll="collapseOnScroll"
          :shrink-on-scroll="shrinkOnScroll"
          :extended="extended"
      >
        <v-app-bar-nav-icon @click="drawer = !drawer" class="hidden-md-and-up">

        </v-app-bar-nav-icon>

        <v-toolbar-title>
          <router-link :to="`/`" tag="span" class="pointer">Starosta</router-link>
        </v-toolbar-title>

        <div class="flex-grow-1"></div>
        <div v-if="isUserLoggedIn" class="hidden-sm-and-down">
          <v-btn v-for="link in links" :key="link.title" :to="link.url" :color="color" class="mr-2">
            <v-icon left>{{link.icon}}</v-icon>
            {{link.title}}
          </v-btn>
          <v-btn id="logout" @click="onLogout" :color="color">
            <v-icon left>mdi-exit-to-app</v-icon>
            Выйти
          </v-btn>
        </div>
        <div v-else class="hidden-sm-and-down">
          <v-layout class="col hidden-sm-and-down">
            <v-spacer></v-spacer>
            <v-btn text @click="showLoginForm">
              <v-icon left>mdi-lock</v-icon>
              Войти
            </v-btn>
            <v-btn @click="registrationOpen = true" :color="color" :to="`/registration`">
              <v-icon left>mdi-face</v-icon>
              Зарегистрироваться
            </v-btn>
          </v-layout>
        </div>
      </v-app-bar>
      <v-container style="min-height: 100vh">
        <Login ref="login"></Login>
        <v-content>
          <router-view></router-view>
        </v-content>
        <template v-if="error">
          <v-snackbar
              :multi-line="true"
              :timeout="5000"
              color="error"
              @input="closeError"
              :value="true"
          >
            {{error}}
            <v-btn
                dark
                text
                @click="closeError"
            >
              Close
            </v-btn>
          </v-snackbar>
        </template>
      </v-container>
    </v-card>
  </v-app>
</template>

<script>
  import Login from './components/Login/Login'

  export default {
    components: {
      Login,
    },
    data () {
      return {
        snackbar: false,
        drawer: false,
        elevateOnScroll: false,
        hideOnScroll: false,
        fadeOnScroll: false,
        fadeImgOnScroll: false,
        invertedScroll: false,
        collapse: false,
        collapseOnScroll: false,
        shrinkOnScroll: false,
        extended: true,
        color: 'primary',
        colors: ['primary', 'accent', 'warning lighten-2', 'teal', 'orange'],
      }
    },
    computed: {
      error () {
        return this.$store.getters.error
      },
      isUserLoggedIn () {
        return this.$store.getters.isUserLoggedIn
      },
      links () {
        if (this.isUserLoggedIn) {
          return [
            { title: 'Расписание', icon: 'mdi-bookmark', url: `/schedule` },
          ]
        } else {
          return {}
        }
      }
    },
    methods: {
      showLoginForm() {
        this.$refs.login.open()
      },
      closeError () {
        this.$store.dispatch('clearError')
      },
      onLogout () {
        this.$store.dispatch('logoutUser')
          .then(() => this.$router.push({ name: 'home' }))
      }
    }
  }
</script>

<style scoped>
  .pointer {
    cursor: pointer;
  }
</style>
